[project]
	description = App Status Dashboard for HII-NNS Apps
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lord Vader (illinifan)
[access "refs/for/refs/*"]
	read = group user/Lord Vader (illinifan)
	push = group user/Lord Vader (illinifan)
	label-Code-Review = -2..+2 group user/Lord Vader (illinifan)
	label-Verified = -1..+1 group user/Lord Vader (illinifan)
	rebase = group user/Lord Vader (illinifan)
	removeReviewer = group user/Lord Vader (illinifan)
	submit = group user/Lord Vader (illinifan)
[access "refs/heads/*"]
	read = group user/Lord Vader (illinifan)
	create = group user/Lord Vader (illinifan)
	push = +force group user/Lord Vader (illinifan)
	pushMerge = group user/Lord Vader (illinifan)
[access "refs/tags/*"]
	push = group user/Lord Vader (illinifan)
	push = +force group user/Lord Vader (illinifan)
